body {
    background-image: url("../images/background.png");
    background-color: #ffffff;
    border-color: #dddddd;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

 header{
    background-image: none;
    background-color: #ffffff;
    border-color: #cccccc;
  }

  .header_nav {
      float: right;
  }

footer {
    
    background-color: #666666;
    text-align: center;
   
}

h1 {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 300px;
}


h2 {
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}


p {
    color:#777777;
}

.header_links {
    margin: 5px;
}

.hangman {
    background-image: url("../images/cats.jpg");
    font-family: 'Georgia', Times, Times New Roman, serif;
    display: block;
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px 10px 20px 10px;
    color: #FFFFFF;
    text-decoration: none; 
}

.content {
    background-color: #ffffff;
    width: 960px;
    
}